.table {       
    position: absolute;
    font-size: 150%;
    width: 480px;
    height: 200px;
    z-index: 15;
    top: 10%;
    left: 5%;
    margin: -100px 0 0 -150px;
}

body .body {
    background-color: #dedede !important;
}