<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}"/>
  <title>Weather</title>
</head>
<body class="body" style="background-color: aliceblue;">
  <a href="{{ url_for('index') }}">Back</a>
  <h2>Forecast weather</h2>
  <div style="border: 2px solid black;">
  <form action="{{ url_for('forecast')}}"method="post" style="padding: 15px;">
    <label for="label1">Weather station:</label>
      <select name = "area">
      {% for k, v in areas.items() %}
        <option {% if v==area %} selected="selected" {% endif %} value= "{{ v }}">{{ k }}</option>
      {% endfor %}
      </select>
    <label for="label2">Model:</label>
    <select name = "model">
      <option {% if model=='linear' %} selected="selected" {% endif %} value= "linear">Linear regression</option>
      <option {% if model=='trees' %} selected="selected" {% endif %} value= "trees">Decision trees</option>
    </select>
    <p>Choose depending variables:</p>
    <table>
    {% if weather.clouds[0]|int(-99) != -99 %} <tr><td>Clouds</td> <td><input type="checkbox" name="clouds" {% if "clouds" in checks %} checked {% endif %}/></td></tr> {% endif %}
    {% if weather.dew_temperature[0]|int(-99) != -99 %} <tr><td>Dew-point temperature</td><td><input type="checkbox" name="dew" {% if "dew_temperature" in checks %} checked {% endif %}/></td></tr> {% endif %}
    {% if weather.gust_speed[0]|int(-99) != -99 %} <tr><td>Gust speed</td> <td><input type="checkbox" name="gust" {% if "gust_speed" in checks %} checked {% endif %}/></td></tr> {% endif %}
    {% if weather.wind_speed[0]|int(-99) != -99 %} <tr><td>Wind speed</td> <td><input type="checkbox" name="wind_speed" {% if "wind_speed" in checks %} checked {% endif %}/></td></tr> {% endif %}
    {% if weather.wind_direction[0]|int(-99) != -99 %} <tr><td>Wind direction</td> <td><input type="checkbox" name="wind_direction" {% if "wind_direction" in checks %} checked {% endif %}/></td></tr> {% endif %}
    {% if weather.humidity[0]|int(-99) != -99 %} <tr><td>Humidity</td> <td><input type="checkbox" name="humidity" {% if "humidity" in checks %} checked {% endif %}/></td></tr> {% endif %}
    {% if weather.pressure[0]|int(-99) != -99 %} <tr><td>Pressure</td> <td><input type="checkbox" name="pressure" {% if "pressure" in checks %} checked {% endif %}/></td></tr> {% endif %}
    {% if weather.visibility[0]|int(-99) != -99 %} <tr><td>Visibility</td> <td><input type="checkbox" name="visibility" {% if "visibility" in checks %} checked {% endif %}/></td></tr> {% endif %}
    {% if weather.rain[0]|int(-99) != -99 %} <tr><td>Rain</td> <td><input type="checkbox" name="rain" {% if "rain" in checks %} checked {% endif %}/></td></tr> {% endif %}
    {% if weather.snow[0]|int(-99) != -99 %} <tr><td>Snow depth</td> <td><input type="checkbox" name="snow" {% if "snow" in checks %} checked {% endif %}/></td></tr> {% endif %}
    </table>

    <button type="submit" class="button">Forecast tomorrow's temperature!</button>
  </form>

  </div>
  {% if prediction %}
  <p>Temperature prediction for tomorrow at {{weather.time[0]}}: {{ prediction }} °C</p> 
  {% endif %}
  {% if weather %} 
  <p>Current weather at {{weather.weather_station[0]}}:</p>
  <p>Observation time: {{dateformat}} {{weather.time[0]}}:{{weather.min[0]}}</p>
    <ul>
      {% for k, v in weather.items() %}
      {% if v[0]|int(-99) != -99 and v[1]%} <li>{{k}}: {{v[0]}} {{v[1]}}</li> {% endif %}
      {% endfor %}
    </ul>
  <p>Average day temperature today: {{average.day}} °C</p>
  <p>Average night temperature today: {{average.night}} °C</p>
  {% endif %}
</body>
</html>