<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}"/>
  <title>Weather</title>
</head>
<body class="body">
  <h2>Weather data</h2>
  <form action="{{ url_for('forecast')}}"method="post">
    <div>
      <label for="label1">Year:</label>
      <select name = "year">
      {% for y in years %}
        <option {% if y==date.year %} selected="selected" {% endif %} value= "{{ y }}">{{ y }}</option>
      {% endfor %}
      </select>
      <label for="label2">Month:</label>
      <select name = "month">
      {% for m in months %}
        <option {% if m==date.month %} selected="selected" {% endif %} value= "{{ m }}">{{ m }}</option>
      {% endfor %}
      </select>
      <label for="label3">Day:</label>
      <select name = "day">
      {% for d in days %}
        <option {% if d==date.day %} selected="selected" {% endif %} value= "{{ d }}">{{ d }}</option>
      {% endfor %}
      </select>
    </div>
    <p>Choose depending variables:</p>
    <table>
    <tr><td>Clouds</td> <td><input type="checkbox" name="clouds" {% if "clouds" in checks %} checked {% endif %}/></td></tr>
    <tr><td>Dew-point temperature</td><td><input type="checkbox" name="dew" {% if "dew_temperature" in checks %} checked {% endif %}/></td></tr>
    <tr><td>Gust speed</td> <td><input type="checkbox" name="gust" {% if "gust_speed" in checks %} checked {% endif %}/></td></tr>
    <tr><td>Wind speed</td> <td><input type="checkbox" name="wind_speed" {% if "wind_speed" in checks %} checked {% endif %}/></td></tr>
    <tr><td>Wind direction</td> <td><input type="checkbox" name="wind_direction" {% if "wind_direction" in checks %} checked {% endif %}/></td></tr>
    <tr><td>Humidity</td> <td><input type="checkbox" name="humidity" {% if "humidity" in checks %} checked {% endif %}/></td></tr>
    <tr><td>Pressure</td> <td><input type="checkbox" name="pressure" {% if "pressure" in checks %} checked {% endif %}/></td></tr>
    <tr><td>Visibility</td> <td><input type="checkbox" name="visibility" {% if "visibility" in checks %} checked {% endif %}/></td></tr>
    <tr><td>Rain</td> <td><input type="checkbox" name="rain" {% if "rain" in checks %} checked {% endif %}/></td></tr>
    <tr><td>Snow depth</td> <td><input type="checkbox" name="snow" {% if "snow" in checks %} checked {% endif %}/></td></tr>
    </table>

    <button type="submit" class="button">Forecast weather</button>
  </form>
  <p>Day temperature on {{ dateformat }}: {{ temperature }} °C</p>
  {% if prediction %} <p>Temperature prediction on {{ dateformat }}: {{ prediction }} °C</p> {% endif %}
  {% if weather %} 
  <p>Current weather at {{weather.weather_station[0]}}:</p>
    <ul>
      {% for k, v in weather.items() %}
      {% if v[0]|int(-99) != -99 %} <li>{{k}}: {{v[0]}} {{v[1]}}</li> {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
</body>
</html>